.project__actions__contianer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 60px;
  /* width: 100%; */
  /* border:  1px solid red; */
}

.circle__container {
  width: max-content;
  /* background-color: wheat; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.circle {
  background-color: #e7e7e7;
  background-color: white;
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 100%;
  transition: padding 0.3s ease;
}

@media screen and (min-width: 768px) {
  .circle:hover {
    display: flex;
    align-items: center;
    padding-right: 1.4rem;
    width: max-content;
    cursor: pointer;
    gap: 1rem;
    color: black;
    width: max-content;
    border-radius: 50px;
  }

  .circle--text {
    /* display: none; */
    opacity: 0;
    transition: all 0.7s ease;
  }

  .circle:hover .circle--text::after {
    content: "View project on GitHub";
  }

  .circle:hover .circle--text {
    /* display: block; */
    opacity: 1;
    font-weight: bold;
  }
}
